
/* fonts */
$font: 'Ubuntu', sans-serif;

/* colors */
$white: #fff;
$black: #000;

$border-grey: #D9D9D9;
$bg-grey: #F7F7F7;
$vlight-grey: #F7F7F7;
$dark-grey: #272936;

$blue: #12B3DB;
$dark-blue: #0070AD;
$red: #E30021;
$yellow: #FFB24A;
$green: #2EA657;

/* other */
$transition: all .5s ease;
$transition2: all .2s ease-out;
$shadow: 0 25px 100px rgba($black, .3);
